@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

html {
    background-color: #3D4B27;
}

body {
    font-family: 'Roboto Slab', serif;
}

.title {
    color:#bbbda0;
    text-shadow: 3px 3px 5px #000;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.info {

    border-bottom: 1px solid #fff;
    background-image: url(../img/backImage.jpg);
}

.pic-container {
    display:inline-block;
}

.pic {
    border:  2px  solid #fff;
    border-radius: 50%;
    height:120px;
}

span.shade  {
    background-color: rgba(0,0,0,0.5);
}

.description {
    display:inline-block;
    font-size: 1.3rem;
    color: #fff;
    vertical-align: middle;
}


header {
    margin: 10px;
}


.enabled {
    display: block;
}

.projItem {
    background-color: #a28761;
    color: #473b2a;
    border: 1px black solid;
    margin: 5px 0 5px 20px;
    height: 430px;
    width: 330px;
    display: inline-block;
    vertical-align: middle;
}

.projItem:hover {
    box-shadow: 0px 0px 5px 2px #000;
    width: calc(330px*1.05);
    height: calc(430px*1.05);
}

.card-img-top {
    height: 180px;
}

.Completed {
    background-color: #4bac0a;
}

.Pending {
    background-color: rgb(172, 87, 17);
}

.imgMain {
    width: 50vw;
    height: calc(50vw*0.60);
    padding-top:10px;

}

.mainDiv {
    background-color: #a28761;
    color: #473b2a;
    border: 1px black  solid;
    border-radius: 20px;
}

span {
    font-weight: bold;
}

.homeB {
    background-color:#bbbda0;
    color: #3D4B27;
}

.homeB:hover {
    background-color:#328373;
    color: #bbbda0;
}



.statusPos  {
    position: absolute;
    bottom: 0px;
    width:100%
  
}

.dwlB {
    color: #473b2a;
}